
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  body {
    background-color: MediumAquamarine;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  body {
    background-color: green;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: yellow;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: orange;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-color: white;
  }
}

/* Put all css that is not contingent on size of screen below. */
