body {
  font-family: "Open Sans";
}
.text-center {
  display: flex; align-items: center; justify-content: center;
}

.image-size { width: 42.66vw; }

.grid-container {
  height: calc(100vh - 1em); display: grid; grid-gap: 15px;
}

.grid-item {
  background: #229fd9;
  text-align: center;
  padding: 15px;
}

/* Map html tags to grid container. */
header { grid-area: header; }
main { grid-area: main; }
nav { grid-area: navigation; }
aside { grid-area: sidebar; font-size: 14px; }
footer { grid-area: footer; }

@media all and (display-mode: fullscreen) {
  .grid-container {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 12vw 1fr 120px;
    grid-template-areas: "header header header"
     "navigation main sidebar"
     "footer footer footer";
 }
}

@media not all and (display-mode: fullscreen) {
  .grid-container {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 12vw 1fr 45px;
    grid-template-areas: "header header header"
     "navigation main sidebar"
     "footer footer footer";
 }
}

@media screen and (max-width: 1082px) {
  .grid-container {
    grid-template-columns: 1fr 150px;
    grid-template-rows: 12vw 50px 1fr 10px;
    grid-template-areas: "header header"
      "navigation navigation"
      "main sidebar"
      "footer footer";
  }
}

@media screen and (max-width: 678px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 12vw 50px 3fr 1fr 30px;
    grid-template-areas: "header"
      "navigation"
      "main"
      "sidebar"
      "footer";
  }
.banner { font-size: 4vw; }
  .align-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align:left;
  }
}

/*
Tricks when using CSS grid,
  1) Inspect with console, put dev tools on the bottom as our media queries are all set to monitor the width ☝️ .
    For scenerios when monitoring vw, have dev tools on the bottom.
  2) For scenerios when monitoring vh, have dev tools on the right.
  3) Images resize based on width, use dev tools at bottom of screen.
  4) get info on your image, write down pixel width view pixels.
*/
/*
I need to write down all the things I did today.

https://css-tricks.com/simple-little-use-case-vmin/
*/
