body {
  font-family: "Open Sans";
}
.text-center {
  display: flex; align-items: center; justify-content: center;
}
.banner { font-size: 4vw; }

.image-size { width: 42.66vw; padding-bottom:12px; }

.grid-container { height: calc(100vh - 16px /*because margin is 8px * 2*/); display: grid; grid-gap: 15px;
}

.grid-item { background: #229fd9; text-align: center; }

/* Map html tags to grid container. */
header { grid-area: header; }
main { grid-area: main; }
nav { grid-area: navigation; }
aside { grid-area: sidebar; font-size: 14px; }
footer { grid-area: footer; }

@media all and (display-mode: fullscreen) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
     "header header header"
     "navigation main sidebar"
     "footer footer footer";
 }
}

@media not all and (display-mode: fullscreen) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
     "header header header"
     "navigation main sidebar"
     "footer footer footer";
 }
}

@media screen and (max-width: 1082px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header"
      "navigation navigation"
      "main sidebar"
      "footer footer";
  }
}

@media screen and (max-width: 678px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 12vw 50px  1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "navigation"
      "main"
      "sidebar"
      "footer";
  }
  .text-center {
    display: flex;
    justify-content: flex-start;
    text-align:left;
    align-items: center;
    padding-left: 12px; padding-right: 12px;
  }
  .leftalign {
    display: flex;
    justify-content: flex-start;
    text-align:left;
    align-items: center;
    padding-left: 12px; padding-right: 12px;
  }
  .image-size {
    padding-left: 12px; padding-right: 12px;
    display: flex; justify-content: flex-start;
  }
}

/*
Tricks when using CSS grid,
  1) Inspect with console, put dev tools on the bottom as our media queries are all set to monitor the width ☝️ .
    For scenerios when monitoring vw, have dev tools on the bottom.
  2) For scenerios when monitoring vh, have dev tools on the right.
  3) Images resize based on width, use dev tools at bottom of screen.
  4) get info on your image, write down pixel width view pixels.
*/
/*
I need to write down all the things I did today.

https://css-tricks.com/simple-little-use-case-vmin/
*/
